@import "_basic.scss";

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: map-get($colors, light-gray);
}
.container {
  @include display-flex(column, nowrap);
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.qr--component {
  margin: 5.5rem 1.5rem;
  padding: 1rem;
  background-color: map-get($colors, white);
  border-radius: 1.2rem;
  @media (min-width: 375px) {
    max-width: 350px;
  }
}

.img--container {
  border-radius: 0.7rem;
  overflow: hidden;
}

.qr--content {
  margin: 1.5rem 1rem;
  @include display-flex(column, nowrap);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  .qr--content__title {
    color: map-get($colors, dark-blue);
		text-align: center;

  }
  .qr--content__description {
    color: map-get($colors, grayish-blue);
		text-align: center;

  }
}
